body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;

  a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  a:hover {
    background-color: #008b17;
    color: black;
  }

  a.active {
    background-color: #04aa6d;
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
  }
}