.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.yellow {
  border: 1px solid yellow;
}

.login-container {
  background-color: #f0f2f6;
  min-height: 100vh;
  padding-top: 20px;

  .content-left{
    margin-top: 50px;
    .brand {
      text-transform: uppercase;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #1877f2;
    }

    .detail{
        font-size: 24px;
        font-weight: normal;
    }
  }

  .content-right {
    border: 1px solid rgb(187, 184, 184);
    border-radius: 11px;
    background-color: white;

    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;


    .brand {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      color: #1877f2;
      text-align: center;
    }

    .forgot-password{
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
    }
  }
}
